<div class="container">
    <div class="row">
        <div class="col">
            <app-header></app-header>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-navigation></app-navigation>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <app-main></app-main>
        </div>
        <div class="col-4">
            <app-sidebar></app-sidebar>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-footer></app-footer>
        </div>
    </div>
</div>


